:root {
    /* Rotating cube */
    --cubeSize:     55px;
}

.navbar .cube3d_scene{
    width: var(--cubeSize);
    height: var(--cubeSize);
    margin-bottom: var(--cubeSize);
    outline: 5px solid var(--clickable_color_normal);
    background-color: maroon;

    position: fixed;

    transition: all 0.15s ease;
    /* Center the cube */
    margin-top: 25px;
    margin-left: auto;
    z-index : 1;
}

.navbar .cube3d_scene:hover{
    outline: 7px solid var(--clickable_color_hover);
}

.navbar .cube3d{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

    animation: cube3dKeyframes 2.5s infinite;
    animation-timing-function: linear;
    
    transition: all 0.4s ease;
}

.navbar .cube3d:hover{
    animation-play-state: paused;
}

.navbar .cube3d div{
    border: 2px solid var(--clickable_color_hover);
    position: absolute;
    width: var(--cubeSize);
    height: var(--cubeSize);   
}
.navbar .cube3d img{
    width: var(--cubeSize);
    height: var(--cubeSize);
}

.navbar .cube3d .front{
    transform: 
        rotateY(180deg)
        translateZ(calc(var(--cubeSize) / 2));
}
.navbar .cube3d .back{
    transform: 
        translateZ(calc(var(--cubeSize) / 2));
}

.navbar .cube3d .right{
    transform: 
        rotateY(90deg) 
        translateZ(calc( var(--cubeSize) / 2));
}
.navbar .cube3d .left{
    transform: 
        rotateY(270deg) 
        translateZ(calc( var(--cubeSize) / 2));
}
.navbar .cube3d .down{
    transform: 
        rotateX(-90deg)
        translateZ(calc( var(--cubeSize) / 2 ));
}
.navbar .cube3d .top{
    transform: 
        rotateX(90deg)
        translateZ(calc( var(--cubeSize) / 2 ));
}




@keyframes cube3dKeyframes {


    0% {
        transform: scale(1.0)  rotate3d(2,3,2, -20deg)   rotate3d(-1,7,1, 0deg)             ;
    }

    50% {
        transform: scale(0.4)  rotate3d(2,3,2, -20deg)   rotate3d(-1,7,1, calc(180deg * 1)) ;

    }
    65% {
        transform: scale(0.7)  rotate3d(2,3,2, -20deg)   rotate3d(-1,7,1, calc(240deg * 1)) ;

    }
    100% {
        transform: scale(1.0)  rotate3d(2,3,2, -20deg)   rotate3d(-1,7,1, calc(360deg * 1)) ;
    }
    
}